/* Greentext Generator-specific colors */

:root {
    /* Old Style */
    --old-style-background: #f6e9e1;
    --old-style-normal-text: #6c1c1a;
    --old-style-quoted-text: #7a8a43;
    --old-style-anonymous-text: #7e3931;
    --old-style-anonymous-background: #ebd6cb;

    /* New Style */
    --new-style-background: #d6daf0;
    --new-style-normal-text: #000000;
    --new-style-quoted-text: #789922;
    --new-style-anonymous-text: #117743;
    --new-style-anonymous-background: #c9cde8;
}

/* Toggles */

.toggle-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-end;
    justify-content: flex-end;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0px;
    height: 0px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* ----------------------------------------------------- */
/* Preview Box */

#preview-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
    justify-content: center;
}

/* Preview "Placeholder */

[contentEditable=true]:empty:not(:focus):before {
    content: attr(data-text)
}

#anonymous-date {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--new-style-anonymous-background);
}

#anonymous-text {
    color: var(--new-style-anonymous-text);
}

#greentext-date {
    color: var(--new-style-normal-text);
}