/* Greentext Generator-specific colors */

:root {
    /* Old Style */
    --old-style-background: #f6e9e1;
    --old-style-normal-text: #6c1c1a;
    --old-style-quoted-text: #7a8a43;
    --old-style-anonymous-text: #7e3931;
    --old-style-anonymous-background: #ebd6cb;

    /* New Style */
    --new-style-background: #d6daf0;
    --new-style-normal-text: #000000;
    --new-style-quoted-text: #789922;
    --new-style-anonymous-text: #4f8d7d;
    --new-style-anonymous-background: #c9cde8;

    /* <main> background */
    --main-background: rgba(221, 255, 244, 0.5);

    /* Toggles */
    --toggle-background: #E4BCD2;
    --toggle-slider: #2d3319;
    --toggle-off-position-background: transparent;

    /* Divider */
    --divider: #194b3f;
}

/* General */


button,
.image-picker label {
    display: block;
    font-family: 'JetBrains Mono', monospace;
    border: 0;
    padding: 0 20px;
    font-size: 1em;
    text-align: center;
    color: var(--toggle-slider);
    border: 0.5rem outset rgba(217, 161, 192, .7);
    border-radius: 10px;
    background-color: rgba(217, 161, 192, .7);
    cursor: pointer;
    white-space: nowrap;
}

button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
        inset 2px 2px 3px rgba(65, 62, 62, 0.6);
    background-color: rgba(170, 124, 149, 0.7);
    border: 0.5rem outset rgba(156, 114, 137, 0.7);
    ;
}

.greentext-h3 {
    float: left;
    background: none;
    text-align: center;
    margin: 0px;
}

.greentext-h3-customize {
    background: none;
    text-align: center;
    margin-bottom: 0;
}

h2 {
    text-align: center;
}

/* -------- */

.greentext-main {
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: var(--main-background);
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
}

.preview-box {
    border-top: 3px dashed var(--new-style-anonymous-text);
    border-bottom: 3px dashed var(--new-style-anonymous-text);
    padding: 15px;
}

/* Toggles */

.toggle-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}

.toggle-container p {
    background: none;
    padding: 0px;
}

.toggle {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    padding: 7px;
    white-space: nowrap;
}

.toggle p {
    font-weight: 600;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0px;
    height: 0px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--toggle-off-position-background);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--toggle-slider);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--toggle-background);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--toggle-slider);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    outline-color: var(--toggle-slider);
    outline-style: solid;
    height: 34px;
    width: 60px;
}

/* ----------------------------------------------------- */
/* Preview Box */

#preview-container {
    width: 100%;
    /*margin-bottom: 1em;*/
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: stretch;
    justify-content: center;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

.quoted,
.normal {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 20px;
}

.quoted {
    color: var(--new-style-quoted-text);
}

.normal {
    color: var(--new-style-normal-text);
}

/* Old Style */
.old-style .quoted {
    color: var(--old-style-quoted-text);
}

.old-style .normal {
    color: var(--old-style-normal-text);
}

/* ----------------------------------------------------- */
/* Anonymous and Date Box */

#anonymous-date-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--new-style-anonymous-background);
}

/* Old Style */
.old-style #anonymous-date-box {
    background-color: var(--old-style-anonymous-background);
}

#anonymous-flag-container {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

#random-flag {
    animation-name: grow;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes grow {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

#timestamp-and-id {
    animation-name: inout;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes inout {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.03);
    }
}

#random-flag {
    padding-left: 15px;
}

#anonymous-text {
    color: var(--new-style-anonymous-text);
    font-weight: 600;
}

/* Old Style */
.old-style #anonymous-text {
    color: var(--old-style-anonymous-text);
}

#timestamp-and-id {
    padding: 0 20px;
}

#greentext-date,
#greentext-random-id {
    color: var(--new-style-normal-text);
    padding-left: 5px;
}

/* Old style: */
.old-style #anonymous-date-box {
    background-color: var(--old-style-anonymous-background);
}

.old-style #preview-image-and-text {
    background-color: var(--old-style-background);
}

/* ----------------------------------------------------- */
/* Image and Text Box */

#preview-image-and-text {
    background-color: var(--new-style-background);
}

#preview-image-and-text pre {
    margin: 0px;
}

#preview-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: left;
    width: 250px;
    margin-right: 20px;
    padding-top: 9px;
}

#preview-image img {
    max-width: 100%;
    max-height: 100%;
    margin: 5%;
}

.disclaimer {
    font-size: 17px;
    background: none;
    padding: 0 20px;
    margin: 0px;
    color: rgb(92, 92, 92);
}


#preview-text {
    white-space: pre-wrap;
    word-break: break-all;
    line-height: 1;
    padding-left: 20px;
    padding-right: 15px;
    padding-top: 9px;
    padding-bottom: 9px;
    float: none;
}

/* ----------------------------------------------------- */
/* Anonymous, Flag, Date & Image size hover effects */

#anonymous-flag-container:hover,
#timestamp-and-id:hover {
    cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;*/
}

.tooltip .tooltiptext {
    font-size: 15px;
    line-height: 1;
    opacity: 90%;
    font-family: 'JetBrains Mono', monospace;
    visibility: hidden;
    width: 12vw;
    background-color: var(--toggle-slider);
    color: var(--new-style-anonymous-background);
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -115px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* ----------------------------------------------------- */
/* Image Options */

#image-settings {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    padding: 20px 15px 5px 15px;
}

#image-settings #normal-text {
    grid-area: 1 / 1 / 2 / 2;
}

#image-settings #quote-text {
    grid-area: 1 / 2 / 2 / 3;
}

#image-settings .toggle {
    grid-area: 2 / 1 / 3 / 2;
}

#image-settings .image-picker {
    grid-area: 2 / 2 / 3 / 3;
}

#image-settings p {
    background: none;
    margin: 0px;
    padding: 0px;
}

#upload-image {
    width: auto;
}

.image-picker .disabled {
    background-color: #d9a1c0b3;
    border-color: #d9a1c0b3;
    color: #7e8084;
    cursor: auto;
    border-style: solid;
}

.clover {
    float: right;
    line-height: 0.1;
}

.clover a {
    display: block;
    white-space: unset;
    padding: 15px;
}

.clover img {
    width: 30px;
    height: 30px;
}

.clover img:hover {
    animation-name: clover;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes clover {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

/* ----------------------------------------------------- */
/* Greentext User Input */

#greentext-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

#normal-text,
#quote-text {
    white-space: nowrap;
    line-height: 1;
}

#greentext-input-container textarea {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace !important;
    font-size: 17px !important;
    border: 2px dashed rgba(226, 133, 184, 0.7);
    padding: 15px;
}

#textarea {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: space-evenly;
}

#textarea label {
    padding: 0px !important;
}

.textarea {
    line-height: 0;
}

/* ----------------------------------------------------- */
/* Generate Button */

.big-button {
    margin: 0 15px;
    padding: 1em;
}

/* ----------------------------------------------------- */
/* Result Image */

#final-greentext {
    width: auto;
    display: flex;
    justify-content: center;
}

#outputCanvas {
    width: 100% !important;
    height: auto !important;
}

#final-greentext img {
    max-width: 100%;
    max-height: 100%;
}

#download-greentext {
    display: none;
    margin-bottom: 15px;
}

/* ----------------------------------------------------- */
/* Arrows */

.button-down {
    opacity: 80%;
    position: relative;
    padding: 5px;
    margin: 1em auto;
    background: var(--toggle-slider);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    transition: all 0.2s linear;
    cursor: pointer;
}

.button-down:hover {
    transform: translate3d(0, 10px, 0);
}

.button-down::after {
    content: "";
    position: absolute;
    left: 11.5px;
    z-index: 11;
    display: block;
    width: 15px;
    height: 15px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
}

.button-down::after {
    top: 10px;
    transform: rotate(225deg);
}

.button-up {
    opacity: 80%;
    position: relative;
    padding: 5px;
    margin: 1em auto;
    background: var(--toggle-slider);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    transition: all 0.2s linear;
    cursor: pointer;
}

.button-up:hover {
    transform: translate3d(0, -10px, 0);
}

.button-up::after {
    content: "";
    position: absolute;
    left: 11.5px;
    z-index: 11;
    display: block;
    width: 15px;
    height: 15px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
}

.button-up::after {
    top: 15px;
    transform: rotate(45deg);
}

/* Pepe */
#pepe {
    display: none;
    width: 250px;
}

#bigger-textarea {
    opacity: 80%;
    position: relative;
    float: right;
    margin-top: -35px;
    margin-right: -7px;
    background: url(../img/expand.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: unset;
    cursor: pointer;
}

@media only screen and (max-width: 900px) {
    body {
        width: 90%;
    }

    .logo .mobile {
        width: 60%;
    }

    #image-settings {
        grid-template-columns: auto;
        grid-template-rows: repeat(4, 1fr);
    }

    #image-settings #quote-text {
        grid-area: 2 / 1;
    }

    #image-settings .toggle {
        grid-area: 3 / 1;

    }

    #image-settings .image-picker {
        grid-area: 4 / 1;
    }

    .toggle-container {
        flex-direction: column;
        padding-top: 1em;
        padding-bottom: 1em;
        align-items: center;
    }

    #preview-image {
        width: fit-content;
        margin-left: 20px;
    }

    .clover {
        float: none;
    }

    button, #image-picker-label {
        font-size: 18px;
    }

    #normal-text {
        height: 7vh;
    }

    #quote-text {
        height: 7vh;
    }

    .switch {
        padding: 0px;
    }

    .button-up, .button-down {
        margin: 0 auto;
    }

    .slider.round {
        top: -7px;
    }

    .toggle-container {
        padding-top: 0px;
    }

    .toggle {
        flex-direction: column;
        gap: 15px;
    }

    .greentext-h3-customize {
        padding-top: 0px;
    }
}



@media only screen and (max-width: 760px) {

}

@media only screen and (max-width: 600px) {

    .logo .mobile {
        width: 70%;
    }

    anonymous-date-box {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
        gap: 10px;
    }

    #anonymous-text, #timestamp-and-id {
        font-size: 17px;
    }

    #random-flag {
        height: 17px;
    }

    #preview-image {
        width: 100px;
    }

    #preview-text, .disclaimer, .normal, .quoted {
        font-size: 17px;
    }

    .disclaimer {
        font-size: 15px;
        white-space: nowrap;
    }

}