body {
    width: 90%;
    max-width: 900px;
    margin: auto;
    padding: 2%;
    font-family: 'JetBrains Mono', monospace;
    font-size: 20px;
    line-height: 2;
    color: #194b3f;
    background-image: url("../img/bg.svg");
}

.logo .mobile {
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

.desktop {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

a {
    color: #2274A5;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

h1 {
    font-weight: 100;
    font-size: 40px;
    text-align: center;
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    background-color: rgba(217, 161, 192, .7);
    color: #594157;
}

h2 {
    padding: 10px;
    margin: 15px;
    margin-bottom: 30px;
    color: #194b3f;
    font-size: 30px;
    background-color: rgba(221, 255, 244, 0.5);
}

h3 {
    padding: 10px;
    margin: 15px;
    color: #194b3f;
    font-size: 25px;
    background-color: rgba(221, 255, 244, 0.5);
}

p {
    color: #194b3f;
    background-color: rgba(221, 255, 244, 0.5);
    padding: 10px;
    margin: 15px;
}

.plunk-grid-container {
    grid-template-columns: auto;
    display: grid;
    align-items: center;
    grid-gap: 10px;
    padding: 10px;
    border-radius: 10px;
}

.main-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main-container-tapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#generate {
    font-family: 'JetBrains Mono', monospace;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1em;
    text-align: center;
    color: #194b3f;
    border: 0.5rem outset rgba(217, 161, 192, .7);
    border-radius: 10px;
}

#generate:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
        inset 2px 2px 3px rgba(65, 62, 62, 0.6);
    background-color: rgba(168, 127, 150, 0.7);
    border: 0.5rem outset rgba(156, 114, 137, 0.7);
    ;
}

#go {
    font-family: 'JetBrains Mono', monospace;
    border: 0;
    line-height: 2.9;
    padding: 0 20px;
    margin-left: auto;
    font-size: 1em;
    text-align: center;
    color: #194b3f;
    border: 0.5rem outset rgba(217, 161, 192, .7);
    ;
    border-radius: 10px;
    background-color: rgba(217, 161, 192, .7);
}

#go:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
        inset 2px 2px 3px rgba(65, 62, 62, 0.6);
    background-color: rgba(170, 124, 149, 0.7);

    border: 0.5rem outset rgba(156, 114, 137, 0.7);
    ;
}

.input-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(221, 255, 244, 0.5);
    padding: 10px;
    margin: 15px;
    align-items: stretch;
}

.input-container-tapper {
    display: flex;
    flex-direction: column;
    background-color: rgba(221, 255, 244, 0.5);
    padding: 2em;
    margin: 15px;
    align-items: center;
}

.go-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

input {
    font-family: 'JetBrains Mono', monospace;
    padding: 1em;
    font-size: 0.98em;
    border: 2px dashed rgba(226, 133, 184, 0.7);
    width: 50vw;
    margin-right: 10px;
}

input::placeholder {
    color: #091B17;
    opacity: 20%;
}

#BPM {
    color: #194b3f;
    font-size: 30px;
}

span.badge[contenteditable] {
    display: inline-block;
}

span.badge[contenteditable]:empty::before {
    display: inline-block;
    content: 'TAP the circle';
}

label {
    padding-top: 10px;
}

.navbar {
    display: inline-block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    opacity: 85%;
}

.footer-flex-container {
    display: flex;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    flex-wrap: nowrap;
    justify-content: center;
    vertical-align: middle;
    left: 0;
    right: 0;
}

.footer-flex-item {
    background-color: #F2FAF8;
    margin-right: 15px;
}

.footer-flex-item a {
    padding: 5px;
    color: #102621;
}

.footer-flex-item a:visited {
    color: #102621;
}

.javascript {
    width: 2em;
    margin: 15px;
    margin-bottom: 0;
}

#ascii {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    color: rgb(221, 101, 167);
    animation: ascii 5s infinite;
    animation-direction: alternate;
}

#tap {
    font-family: 'JetBrains Mono', monospace;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1em;
    text-align: center;
    color: #194b3f;
    border: 0.5rem outset rgba(217, 161, 192, .7);
    ;
    border-radius: 10px;
    width: 100%;
}

#tap:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
        inset 2px 2px 3px rgba(65, 62, 62, 0.6);
    background-color: rgba(168, 127, 150, 0.7);

    border: 0.5rem outset rgba(156, 114, 137, 0.7);
    ;
}

#ellipse {
    padding-bottom: 2em;
    width: 10em;
    opacity: 80%;
}

#ellipse:hover {
    transition: transform 330ms ease-in-out;
    transform: scale(1.07);
}

#ellipse:active {
    transition: transform 50ms ease-in-out;
    transform: scale(1.3);
    opacity: 99%;
}

@keyframes ascii {
    from {
        color: #378673;
    }

    to {
        color: #9FD8CB;
    }
}

/* plunkboard */

.plunkboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10em;
}

.rectangle {
    width: 180px;
    height: 100px;
    background-color: #2d3319;
    border-radius: 7%;
    position: absolute;
}

.white-keys {
    display: flex;
    position: relative;
    bottom: 20px;
    margin: 2px;
}

.a,
.b,
.c,
.d,
.e,
.f,
.g {
    width: 25px;
    height: 69px;
    background-color: white;
    margin: 2.5px;
    border-radius: 8%;
}

.black-keys {
    display: flex;
    width: 150px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: relative;
    left: 14px;
    top: 22px;
    z-index: 1;
}

.h,
.i,
.j,
.k,
.l,
.m {
    width: 14px;
    height: 35px;
    background-color: #2d3319;
    margin: 2%;
}

.j {
    background-color: transparent;
}

.homepage-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: stretch;
    justify-content: center;
    margin-bottom: 5em;
}

.alex-g-container {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 100px;
    position: relative; /*required for eyes*/
}

.eye-container, .eye-base, .eye-dot {
	border-radius: 50%;
}

.eye-container {
    position: absolute;  /*required for eyes*/

    
}

.eye-base {
    height: 100%;
	/* Make the dot centered in the eye on page load */
	display: flex;  
	justify-content: center;
	align-items: center;
}



#leftEye {
    height: 2.3%;
    width: 2.3%;
    top: 42.7%;
    left: 31.8%;
}

#rightEye {
    height: 3%;
    width: 3%;
    top: 42%;
    left: 37.5%;
}

.eye-dot {
    display: block;
	position: fixed; /* required for script to work */
	/*height: 0.7%;
	width: 0.6%;*/
    height: 8px;
    width: 8px;
	background-color: #194b3f;
}

#behold {
    /*width: 700px;*/ 
    /*aspect-ratio: 1 / 1;*/
    position: relative;  /*required for eyes*/
    background-color: darkgray;
}

.show-plunks {
    --offset: 10px;
    --border-size: 2px;
    /* width: 2em; */
    position: relative;
    padding: 3em 6em;
    appearance: none;
    border: 0;
    background: transparent;
    color: #216857;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    outline: none;
    cursor: pointer;
    border-radius: 0;
    box-shadow: inset 0 0 0 var(--border-size) currentcolor;
    transition: background 0.8s ease;
    margin-bottom: 3em;
}

.show-plunks:hover {
    background: rgba(2, 139, 128, 0.1);
}

.show-plunks_horizontal,
.show-plunks_vertical {
    position: absolute;
    top: var(--horizontal-offset, 0);
    right: var(--vertical-offset, 0);
    bottom: var(--horizontal-offset, 0);
    left: var(--vertical-offset, 0);
    transition: transform 0.8s ease;
    will-change: transform;
}

.show-plunks_horizontal::before,
.show-plunks_vertical::before {
    content: '';
    position: absolute;
    border: inherit;
}

.show-plunks_horizontal {
    --vertical-offset: calc(var(--offset) * -1);
    border-top: var(--border-size) solid currentcolor;
    border-bottom: var(--border-size) solid currentcolor;
}

.show-plunks_horizontal::before {
    top: calc(var(--vertical-offset) - var(--border-size));
    bottom: calc(var(--vertical-offset) - var(--border-size));
    left: calc(var(--vertical-offset) * -1);
    right: calc(var(--vertical-offset) * -1);
}

.show-plunks:hover .show-plunks_horizontal {
    transform: scaleX(0);
}

.show-plunks_vertical {
    --horizontal-offset: calc(var(--offset) * -1);
    border-left: var(--border-size) solid currentcolor;
    border-right: var(--border-size) solid currentcolor;
}

.show-plunks_vertical::before {
    top: calc(var(--horizontal-offset) * -1);
    bottom: calc(var(--horizontal-offset) * -1);
    left: calc(var(--horizontal-offset) - var(--border-size));
    right: calc(var(--horizontal-offset) - var(--border-size));
}

.show-plunks:hover .show-plunks_vertical {
    transform: scaleY(0);
}

.show-plunks a {
    text-decoration: none;
    color: #216857;
    font-size: 25px;
    font-style: italic;
    font-weight: 600;
    padding: 3em 9em;
}


@media only screen and (max-width: 1100px) {

    .plunk-grid-container {
        grid-template-columns: auto;
    }

    .grid-item {
        max-width: 200em;
    }

    .go-container {
        align-items: baseline;
    }

    input {
        width: 70vw;
    }

}

@media only screen and (max-width: 900px) {

    body {
        width: 60%;
    }

    .logo .mobile {
        display: block;
        width: 100%;
    }

    .logo .desktop {
        display: none;
    }

    h1 {
        font-size: 37px;
    }

    h2 {
        font-size: 29px;
    }

    h3 {
        font-size: 23px;
    }

    p {
        font-size: 18px;
    }

    .input-container {
        align-items: center;
    }

    .go-container {
        flex-direction: column;
        align-items: center;
    }

    input {
        width: 40vw;
    }

    .navbar {
        font-size: 17px;
    }

    label {
        padding: 1em;
    }

    .plunk-grid-container {
        grid-template-columns: auto;
    }

    .grid-item {
        max-width: 100vw;
    }

    #go {
        margin-left: 0;
        margin-top: 1em;
    }

}

@media only screen and (max-width: 740px) {

    body {
        width: 60%;
    }

    .logo .mobile {
        display: block;
        width: 100%;
    }

    .logo .desktop {
        display: none;
    }

    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 25px;
    }

    p {
        font-size: 20px;
    }

    .input-container {
        align-items: center;
    }

    .go-container {
        flex-direction: column;
        align-items: center;
    }

    .navbar {
        font-size: 17px;
    }

    label {
        padding: 1em;
    }

    .plunk-grid-container {
        grid-template-columns: auto;
    }

    .grid-item {
        max-width: 100vw;
    }

    #go {
        margin-left: 0;
        margin-top: 1em;
    }

}

@media only screen and (max-width: 600px) {

    body {
        width: 70%;
        line-height: 1;
    }

    .logo .mobile {
        display: block;
        width: 100%;
    }

    .logo .desktop {
        display: none;
    }

    h1 {
        font-size: 29px;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 17px;
    }

    .input-container {
        align-items: center;
    }

    .go-container {
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
    }

    .navbar {
        font-size: 17px;
    }

    .footer-flex-item {
        padding: 9px;
        margin-right: 0;
        border-color: black;
        border-style: solid;
        border-width: 1px;
    }

    .javascript {
        width: 2em;
    }

    label {
        padding: 1em;
    }

    .plunk-grid-container {
        grid-template-columns: auto;
    }

    .grid-item {
        max-width: 100vw;
    }

    #go {
        margin-left: 0;
        margin-top: 1em;
    }
}